/* a non-standard font, either using font-face or Goole fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300&family=Raleway:wght@200&display=swap');

* {
    display: block;
    box-sizing: border-box; 
}

/* Apply imported font to body */
body {
    font-family: 'IBM Plex Serif', serif;
}

/* .grid-root {
    display: grid;
    grid-template-areas:
         'header header header' 
         'thumbpic thumbpic bigpic'
         'thumbpic thumbpic bigpic'
         'thumbpic thumbpic bigpic'
         'thumbpic thumbpic bigpic'
         'thumbpic thumbpic bigpic'
         'thumbpic thumbpic bigpic'
         'thumbpic thumbpic bigpic'
         'clock footer bigpic'
} */

#main_bits {
    display: flex;
    width: 100vw;
    height: 100vh;
}

#navbar {
    display: flex;
    flex-flow: column wrap;
    background-color: aqua;
    min-height: 100vh;
    width:150px;
    /* width:400px;
    height: 700px; */
}

.thumb_settings {
    display: block;
    height: 98px;
    width: 75px;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

/* .clickme {

} */

#bigimg {
    display: block;
    height: auto;
    width: 500px;    
}

.big_img0 { background-image: url("/static/img/large_akira.jpg") ;}
.big_img1 { background-image: url("/static/img/large_atlantis.jpg") ;}
.big_img2 { background-image: url("/static/img/large_cryingfreeman.jpg") ;}
.big_img3 { background-image: url("/static/img/large_fringe.jpg") ;}
.big_img4 { background-image: url("/static/img/large_princessbride.jpg") ;}
.big_img5 { background-image: url("/static/img/large_reddwarf.jpg") ;}
.big_img6 { background-image: url("/static/img/large_rogueone.jpg") ;}
.big_img7 { background-image: url("/static/img/large_sg1.jpg") ;}

.thumb_img0 { background-image: url("/static/img/thumb_akira.jpg");}
.thumb_img1 { background-image: url("/static/img/thumb_atlantis.jpg");}
.thumb_img2 { background-image: url("/static/img/thumb_cryingfreeman.jpg");}
.thumb_img3 { background-image: url("/static/img/thumb_fringe.jpg"); }
.thumb_img4 { background-image: url("/static/img/thumb_princessbride.jpg");}
.thumb_img5 { background-image: url("/static/img/thumb_reddwarf.jpg");}
.thumb_img6 { background-image: url("/static/img/thumb_rogueone.jpg");}
.thumb_img7 { background-image: url("/static/img/thumb_sg1.jpg");}
