/* a non-standard font, either using font-face or Goole fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300&family=Raleway:wght@200&display=swap');

* {
    box-sizing: border-box; 
}

/* Apply imported font to body */
body {
    font-family: 'IBM Plex Serif', serif;
}

#navbar {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column wrap;
    flex-direction: column;
    background-color: aqua;
    width: 1000px;
    height: 700px;
}

.thumb {
    display: block;
    height: 98px;
    width: 75px;
    padding: 0;
    margin: 0;
}

.clickme {

}

#bigimg {
    display: block;
    visibility: hidden;
    height: 820px;
    width: 577px;
    background-color: pink;
    margin: 0.5em;
    background:
    url("/static/img/large_atlantis.jpg") no-repeat,
    url("/static/img/large_cryingfreeman.jpg") no-repeat,
    url("/static/img/large_fringe.jpg") no-repeat,
    url("/static/img/large_princessbride.jpg") no-repeat,
    url("/static/img/large_reddwarf.jpg") no-repeat,
    url("/static/img/large_rogueone.jpg") no-repeat,
    url("/static/img/large_sg1.jpg") no-repeat;
}

.large_atlantis { background-image: url("/static/img/large_atlantis.jpg") no-repeat;}
.large_cryingfreeman { background-image: url("/static/img/large_cryingfreeman.jpg") no-repeat;}
.large_fringe { background-image: url("/static/img/large_fringe.jpg") no-repeat;}
.large_princessbride { background-image: url("/static/img/large_princessbride.jpg") no-repeat;}
.large_reddwarf { background-image: url("/static/img/large_reddwarf.jpg") no-repeat;}
.large_rogueone { background-image: url("/static/img/large_rogueone.jpg") no-repeat;}
.large_sgi { background-image: url("/static/img/large_sg1.jpg") no-repeat;}

.thumb1 { background-image: url("/static/img/thumb_atlantis.jpg") no-repeat;}
.thumb2 { background-image: url("/static/img/thumb_cryingfreeman.jpg") no-repeat;}
.thumb3 { background-image: url("/static/img/thumb_fringe.jpg") no-repeat;}
.thumb4 { background-image: url("/static/img/thumb_princessbride.jpg") no-repeat;}
.thumb5 { background-image: url("/static/img/thumb_reddwarf.jpg") no-repeat;}
.thumb6 { background-image: url("/static/img/thumb_rogueone.jpg") no-repeat;}
.thumb7 { background-image: url("/static/img/thumb_sg1.jpg") no-repeat;}
