{% extends 'base.html' %}

{% block title %}
Akira (manga)
{% endblock %}

{% block page_title %}Akira{% endblock %}

{% block content %}
<div id="fullpage_text">
    <img class="bigimg_settings" title="" 
         src="/static/img/large_akira.jpg" alt="Large Akira image">
    <p>Akira (アキラ, stylized as AKIRA) is a Japanese cyberpunk manga series written and illustrated by Katsuhiro Otomo. It
        was serialized biweekly in Kodansha's seinen manga magazine Young Magazine from December 20, 1982, to June 25, 1990,
        with its 120 chapters collected into six tankōbon volumes. It was initially published in the United States by Marvel
        Comics under its Epic imprint, becoming one of the first manga works to be translated in its entirety into
        English. It is currently published by Kodansha Comics in North America. Considered a watershed title for the
        medium, the manga is also famous for spawning the seminal 1988 cyberpunk anime film adaptation of the same name
        and the greater franchise.</p>
    
    <p>Set in a post-apocalyptic and futuristic "Neo-Tokyo", more than two decades after a mysterious explosion destroyed
        the city, the story centers on teenage biker gang leader Shotaro Kaneda, militant revolutionary Kei, a trio of
        espers, and Neo-Tokyo military leader Colonel Shikishima, who attempt to prevent Tetsuo Shima, Kaneda's mentally
        unbalanced childhood friend, from using his unstable and destructive telekinetic abilities to ravage the city and
        awaken a mysterious entity with powerful psychic abilities named "Akira". Otomo uses conventions of the cyberpunk
        genre to detail a saga of political turmoil, social isolation, corruption, and power. Widely regarded as a
        landmark work in cyberpunk and credited with pioneering the Japanese cyberpunk subgenre, Akira received universal
        acclaim from readers and critics, with Otomo's artwork, storytelling, characters, and exploration of mature themes
        and concepts subject to particular praise. The manga also achieved international commercial success, selling
        millions of copies worldwide.</p>
    
    <p>An animated film adaptation released in 1988 shortened the plot considerably, but retained many of the manga's
        primary characters and plot elements alongside additional scenes, settings, and motifs. The film was similarly
        lauded and has served as a significant influence to the anime industry and sci-fi media as a whole. The
        adaptation also marked Otomo's transition from a career primarily in manga to one almost exclusively in anime.</p>
    
    <p>Akira was instrumental in the surge in popularity of manga outside Japan, especially in the United States and
        France. The manga won several awards, including the Kodansha Manga Award, a Harvey Award, and four Eisner
        Awards.</p>
    
    <cite><a target="_blank" href="https://en.wikipedia.org/wiki/Akira_(manga)">
            https://en.wikipedia.org/wiki/Akira_(manga)</a></cite>
</div>

{% endblock %}