{% extends 'base.html' %}

{% block title %}
Stargate Atlantis
{% endblock %}

{% block content %}
<p>Stargate Atlantis (usually stylized in all caps and often abbreviated SGA) is an adventure and military science
    fiction television series and part of MGM's Stargate franchise. The show was created by Brad Wright and Robert C.
    Cooper as a spin-off series of Stargate SG-1, which was created by Wright and Jonathan Glassner and was itself based
    on the feature film Stargate (1994). All five seasons of Stargate Atlantis were broadcast by the Sci-Fi Channel in
    the United States and The Movie Network in Canada. The show premiered on July 16, 2004; its final episode aired on
    January 9, 2009. The series was filmed in and around Vancouver, British Columbia, Canada.</p>

<p>The story of Stargate Atlantis follows the events of Stargate SG-1's seventh season finale episode "Lost City" and
    eighth season premiere episode "New Order", in which the cast of that series discovered an Antarctic outpost created
    by the alien race known as the Ancients. In the pilot episode "Rising", Dr. Daniel Jackson discovers the location of
    Atlantis, the legendary city created by the Ancients, and Stargate Command sends an international team to
    investigate it.</p>

<p>The series was a ratings success for the Sci Fi Channel, and was particularly popular in Europe and Australia.
    Although it received a little critical response, Stargate Atlantis was honored with numerous awards and award
    nominations in its five-season run. Merchandise for Stargate Atlantis includes games and toys, print media, and an
    original audio series. With the cancellation of Stargate Universe, the intended direct-to-DVD Stargate Atlantis
    movie, entitled Stargate: Extinction, was cancelled.</p>

<cite><a target="_blank" href="https://en.wikipedia.org/wiki/Stargate_Atlantis">
        https://en.wikipedia.org/wiki/Stargate_Atlantis</a></cite>
{% endblock %}