<!-- Flask website base template nme@202205181500 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css')}}">

    <title>
        {% block title %}
        <!-- unique page title is inserted here -->Base - Missing title block
        {% endblock %}
    </title>
</head>

<body onload="appClock()">
    <div>
        <header>
            {% block page_title %}
            <!-- unique page title is inserted here -->Base - Missing page title
            {% endblock %}
            <div id='appClockTxt'>[clock]</div>
        </header>
        <main>
            {% block content %}
            <!-- HTML tween block and endblock appears atop each website page -->
            {% endblock %}
        </main>
        <footer>
            <div id="autoimgload"></div>
        </footer>
        <!-- <script src="/static/js/timeclock.js"></script> -->
    </div>
    <script src="{{url_for('static', filename = 'js/app.js')}}"></script>
</body>

</html>