{% extends 'base.html' %}

{% block title %}
Crying Freeman
{% endblock %}

{% block page_title %}
Crying Freeman
{% endblock %}

{% block content %}
<div id="fullpage_text">
  <img class="bigimg_settings" title="" 
       src="/static/img/large_cryingfreeman.jpg" alt="Large Crying Freeman image">
<p>Crying Freeman (クライング フリーマン, Kuraingu Furīman) is a Japanese manga series written by Kazuo Koike and illustrated by
  Ryoichi Ikegami. Crying Freeman follows a Japanese assassin hypnotized and trained by the Chinese mafia (called the
  "108 Dragons") to serve as its agent, and covered in a vast and complex dragon tattoo. A quiet but complicated killer,
  Freeman reflexively sheds tears after every killing as a sign of regret.</p>

<p>The manga was originally serialized by Shogakukan on its magazine Big Comic Spirits from 1986 to 1988. It was first
  published in North America by Viz Media in comic book form. Viz later republished the series in graphic novel form in
  two versions: an initial set and longer volumes that combined the initial volumes together, dubbed "Perfect
  Collections." From 2006 to 2007, the manga was republished by Dark Horse Comics in five volumes.</p>

<p>The story was adapted into an anime OVA by Toei Animation, released from 1988 to 1994. Crying Freeman has also been
  adapted into three live-action films: two in Hong Kong in Cantonese and a French-Canadian production in English.</p>

<cite><a target="_blank" href="https://en.wikipedia.org/wiki/Crying_Freeman"> https://en.wikipedia.org/wiki/Crying_Freeman</a></cite>
</div>
{% endblock %}