<link rel="stylesheet" href="{{url_for('static', filename = 'css/loadimgs.css')}}">

{% extends 'base.html' %}


{% block title %}My Movies{% endblock %}

{% block page_title %}My movies{% endblock %}

{% block content %}
<div id="about">Welcome to my Innovate 030522 Full Stack Project website. What you see here is just a few of my
  favourite things. Click on the image links below to learn more about each item. A button it provided at the top of
  each webpage to return you to the screen. Enjoy!</div>
<div id="main_bits">

  <nav id="navblock">

    <!-- { % for an_entry in favs.values() : % } -->
    {% set url = url_for('static',filename="") %}
    {% for id, vals in favs.items() : %}
    <div>
      {% set img, html = vals %}
      <a href="/{{id}}">
        <img class="thumb_settings" title="Click Me" src="{{url}}/img/{{img}}" alt="{{id}}_thumbnail">
      </a>
    </div>
    {% endfor %}
  </nav>
</div>
{% endblock %}